@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    background-color: #eee7e7;
    min-height: 100vh;
    overflow-x: hidden;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    padding: 20px 1px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    
}
.batch{
    font-size: 2rem;
    color: #f8f5f5;
    pointer-events: none;
    margin-right: 436px;
    }
   .navigation a {
    text-decoration: none;
    color: #21bdf1;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;

   }
   .navigation a:hover,
   .navigation a.active {
    background-color: #12bdf1;
    color: #fff;

   }
   .Home{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   }
   .Home img{
    height: 100%;
    width: 100%;
   }

   #text{
    position: absolute;
    font-size: 3rem;
    color: #fff;
    text-shadow: 8px 9px 0px rgba(0,0,0,.2);
   }
 .Home p{
    position: absolute;
    font-size: 2rem;
    color: rgb(7, 250, 147);
    text-shadow: 2px 2px 4px rgba(14, 13, 13);
    margin-top: 244px;
    text-align: center;
    width: 47%;
    
    }

 .explore-button{
    position: absolute;
    padding: 9px 12px;
    font-size: 18px;
    background-color: rgb(166, 8, 206);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 264px;
    text-align: center;
    width: 90px;
 }
 .explore-button:hover{
    background-color: darkred;
 }
 .cancer{
    background-color: #fff;
    

}
.cancer h3{
    font-size: 3rem;
  padding-bottom: 1rem;
  color: #111;
  text-transform: uppercase;
}
.cancer span{
    color: #094b65;
    text-transform: uppercase;
}
.cancer p strong{
color: #094b65;
padding: 10px;
font-size: 25px;
}
.cancer p{
    color: #111;
    padding-bottom: 10px ;
    font-size: 20px;
}
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    display: flex;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-box-back {
    background-color: #094b65;
    color: white;
    transform: rotateY(180deg);
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    padding: 20px;
  }
  .card {
    perspective: 1000px;
    width: 300px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    border-style: solid;
    border-color: #094b65;
}

.card:hover {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.back {
    background-color: #d4d4d4;
    transform: rotateY(180deg);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.back .pack{
color: #094b65;

}
h4{
    font-size: 25px;
}
h4{
    font-size: 25px;
}

.image-scroller img{
    width: 20%;
    height: 20%;
}
h1 {
    text-align: center;
  }
  .Health{
    background-color: #fff;
    

}
.Health h3{
    font-size: 3rem;
  padding-bottom: 1rem;
  color: #111;
  text-transform: uppercase;
}
.Health span{
    color: #094b65;
    text-transform: uppercase;
}
.Health p strong{
color: #094b65;
padding: 10px;
font-size: 25px;
}
.Health p{
    color: #111;
    padding-bottom: 10px ;
    font-size: 20px;
}
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    display: flex;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-box-back {
    background-color: #094b65;
    color: white;
    transform: rotateY(180deg);
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    padding: 20px;
  }
  .card {
    perspective: 1000px;
    width: 300px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    border-style: solid;
    border-color: #094b65;
}

.card:hover {
    transform: rotateY(180deg);
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.back {
    background-color: #d4d4d4;
    transform: rotateY(180deg);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.back .pack{
color: #094b65;

}
h4{
    font-size: 25px;
}
h4{
    font-size: 25px;
}

.image-scroller img{
    width: 20%;
    height: 20%;
}
h1 {
    text-align: center;
  }